---
import { Image } from "astro:assets";
import Data from "../../data/home.json";
---

<div
    class="marquee-container relative bg-background text-white overflow-hidden py-7 lg:py-9"
>
    <div
        class="absolute w-[100px] lg:w-[200px] h-full left-0 bg-gradient-to-r from-background via-background/90 to-transparent z-20 top-1/2 -translate-y-1/2"
    >
    </div>
    <div
        class="absolute w-[100px] lg:w-[200px] h-full right-0 bg-gradient-to-l from-background via-background/90 to-transparent z-20 top-1/2 -translate-y-1/2"
    >
    </div>
    <div class="marquee-wrapper">
        <div class="marquee-content">
            {
                Data.slider_logo.map((logo) => (
                    <Image
                        src={logo.logo}
                        class="min-w-[80px] lg:min-w-[140px] lg:max-w-[140px] h-full object-contain"
                        alt={logo.alt}
                        width="226"
                        height="126"
                        loading="lazy"
                        decoding="async"
                    />
                ))
            }
        </div>
        <div class="marquee-content hidden lg:block">
            {
                Data.slider_logo.map((logo) => (
                    <Image
                        src={logo.logo}
                        class="min-w-[80px] lg:min-w-[140px] lg:max-w-[140px] h-full object-contain"
                        alt={logo.alt}
                        width="226"
                        height="126"
                        loading="lazy"
                        decoding="async"
                    />
                ))
            }
        </div>
    </div>
</div>

<style>
    .marquee-container {
        overflow: hidden;
        width: 100%;
    }
    .marquee-wrapper {
        display: flex;
        gap: 2rem;
        animation: marquee 45s linear infinite;
        @media screen and (max-width: 1024px) {
            gap: 20rem;
        }
    }
    .marquee-content {
        display: flex;
        gap: 4rem;
        justify-content: space-around;
        min-width: 100%;
        width: 100%;
        @media screen and (max-width: 1024px) {
            gap: 2rem;
        }
    }
    @keyframes marquee {
        0% {
            transform: translate(0);
        }
        to {
            transform: translate(-100%);
        }
    }
</style>
